.reports_main {
  padding: 30px 40px 40px 40px;
}
.report_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #131523;
}
.gc_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.report_select {
  border: none;
}
.report_select:focus {
  outline: none;
}
.users_detail_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a607f;
}
.users_detail_count {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #131523;
  padding-bottom: 10px;
}
.users_detail_per {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #06a561;
}
.users_details_wrapper {
  padding: 28px;
  border-radius: 6px;
  box-shadow: 0 1px 4px #15223214;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.growth_chart_second_wrapper {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.progress_chart_box {
  width: 255px;
  padding: 28px;
  border-radius: 6px;
  box-shadow: 0 1px 4px #15223214;
}
.pc_price_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}
.average_value_chart {
  padding: 28px;
  border-radius: 6px;
  box-shadow: 0 1px 4px #15223214;
  flex: 1;
}
.av_detail_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.av_detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a607f;
  padding-top: 8px;
}
.customer_demographics_wrapper {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.customer_demographics_left {
  padding: 28px;
  border-radius: 6px;
  box-shadow: 0 1px 4px #15223214;
  flex: 1;
}
.customer_demographics_right {
  width: 211px;
}
.cdr_top,
.cdr_bottom {
  padding: 28px;
  border-radius: 6px;
  box-shadow: 0 1px 4px #15223214;
}
.cdr_top {
  margin-bottom: 30px;
}
.device_box {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.device_box .device {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active_users b {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #131523;
}
.active_users span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a607f;
}
.d_tabel {
  display: flex;
  gap: 30px;
}
.d_tabel_box {
  width: 100%;
  border-radius: 6px;
  padding: 28px 28px 20px 28px;
  border: 1px solid #e6e9f4;
  background-color: #ffffff;
}
.d_tabel_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #131523;
  padding-bottom: 20px;
}

.order_table {
  width: 100%;
  border-collapse: collapse;
}
.order_data_wrapper {
  border-bottom: 2px solid #e6e9f4;
}
.order_data_wrapper th:first-child,
.order_data_wrapper td:first-child {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #131523;
}
.order_data_wrapper th,
.order_data_wrapper td {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #131523;
  padding: 16px 8px;
}
/* efef */
.transactions_data_wrapper {
  width: 100%;
}
.td_title th {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a607f;
  padding: 12px 8px;
  text-align: left;
}
.td_data td {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #131523;
  border-top: 2px solid #e6e9f4;
  padding: 16px 8px;
}
.td_data td:first-child {
  font-weight: 500;
}
.td_data td:last-child {
  font-weight: 500;
}
.td_img_data td {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #131523;
  border-top: 2px solid #e6e9f4;
  padding: 8px;
}
.td_img_data td:first-child {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
}
.td_img_data td:last-child {
  font-weight: 500;
}
.d_order_chart {
  display: flex;
  gap: 30px;
  padding-bottom: 24px;
}
.doc_left {
  padding: 28px 28px 20px 28px;
  border-radius: 6px;
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.doc_left_head {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  justify-content: space-between;
}
.doc_left_head .doc_time {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a607f;
}
.doc_left_head .doc_time:focus {
  outline: none;
}
.order_details {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.order_details_left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.order_date_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #131523;
}
.order_date_description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a607f;
}
.order_details {
  padding-bottom: 24px;
}
.order_details_right {
  display: flex;
  align-items: center;
  gap: 21px;
}
.order_details_right_second,
.order_details_right_first {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a607f;
  display: flex;
  align-items: center;
  gap: 8px;
}
.order_details_right_first .box {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #d9e1ec;
}
.order_details_right_second .box {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #1e5eff;
}
.doc_right {
  padding: 28px 28px 22px 28px;
  border-radius: 6px;
  background-color: #ffffff;
  width: 300px;
}
.doc_right_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #131523;
  padding-bottom: 24px;
}
.doc_right_items,
.docr_price {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a607f;
  padding-bottom: 20px;
}
.doc_right_items span,
.docr_price span {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #131523;
}
.docr_price {
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e9f4;
}
