.button {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.small {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 4px;
}
.text {
}
.blue {
  color: #ffffff;
  background-color: #1e5eff;
}
.white {
  color: #1e5eff;
  background-color: #ffffff;
  border: 1px solid #d7dbec;
}
.link_button {
  text-decoration: none;
}
